*,*::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*
Le reset CSS.

Les styles du body.

Les styles généraux des titres (h1, h2, h3).

Les styles des paragraphes (p).

Les styles des liens (a).

Les styles des listes (ul, ol).

Les styles généraux des boutons et des champs de formulaire.


*/